main {
  font-family: DM Sans, sans-serif;
  margin: auto;
  transform: rotate(0deg) scale(1);
}

body {
  margin: auto;
  font-family: "Lato", sans-serif;
  background-color: #181818;
}

header {
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 25px 0;
}

.headerTitle {
  color: #d04f4f;
  text-align: center;
}

nav {
  margin: auto;
  max-width: 85%;
}

/* la barre de recherche  */

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search input[type="text"] {
  background-color: #333;
  color: #ccc;
  width: 100%;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.search input[type="text"]:focus {
  background-color: rgba(0, 0, 0, 0.7);
  outline: none;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

.fa-search {
  position: absolute; /* position absolue par rapport à l'input */
  top: 50%; /* position verticale centrée */
  right: 10px; /* position horizontale */
  transform: translateY(-50%); /* pour centrer verticalement */
  pointer-events: none; /* empêche le clic sur le chevron */
}
.search i {
  position: absolute;
  right: 1rem;
  font-size: 1.2rem;
  color: #ccc;
  cursor: pointer;
}

nav ul {
  margin-block-end: 0em;
  margin-block-start: 0em;
  padding-inline-start: 0em;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  flex-direction: column;
}

nav li {
  list-style: none;
  font-size: 1.2em;
  font-weight: 500;
  padding: 1em;
  cursor: pointer;
}

#tagList {
  display: flex;
  color: white;
  padding: 1em 0em;
  gap: 10px;
}

.tag-ingredient {
  background-color: #3282f7;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5%;
}

.tag-appliances {
  background-color: #68d9a4;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5%;
}

.tag-ustensils {
  background-color: #d04f4f;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5%;
}

.remove-tag {
  background-color: transparent;
  font-size: 1.2em;
  cursor: pointer;
}

.search-container {
  width: 100%;
}

.searchButton {
  background-color: transparent;
  position: relative;
  border: none;
  cursor: pointer;
}

.searchButton i {
  font-size: 1.2rem;
}

#ingredientsSearch {
  background-color: #3282f7;
  border: none;
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  height: 90%;
  padding: 1rem;
  margin-right: 1rem;
}

::placeholder {
  color: white;
  opacity: 1;
}

#appareilSearch {
  background-color: #68d9a4;
  border: none;
  text-align: left;
  color: #ccc;
  font-size: 16px;
  height: 90%;
  padding: 1rem;
  margin-right: 1rem;
}

#ustensilesSearch {
  background-color: #e83a26;
  border: none;
  text-align: left;
  color: #ccc;
  font-size: 16px;
  height: 90%;
  padding: 1rem;
  margin-right: 1rem;
}

#ingredientsButton {
  position: relative;
  background-color: #3282f7;
}

#appareilButton {
  position: relative;
  background-color: #68d9a4;
}
#ustensilesButton {
  position: relative;
  background-color: #e83a26;
}

.listOfingredients {
  display: flex;
  background-color: #3282f7;
  color: white;
}

.listOfAppareil {
  display: flex;
  background-color: #68d9a4;
  color: white;
}

.listOfUstencils {
  display: flex;
  background-color: #e83a26;
  color: white;
}

.movechevron {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #ccc;
}

main ul {
  padding-left: 0em;
}
main li {
  list-style: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fa-chevron-down {
  animation: chevronRotate 2s backwards;
  color: white;
  margin-left: auto;
  margin-right: 1em;
  cursor: pointer;
  transition: all 0.4s;
}

.list {
  display: none;
  width: 100%;
  height: 90%;
  margin-top: 1.5em;
  flex-wrap: wrap;
  align-content: space-between;
  flex-direction: row;
}

.cardRecipe {
  max-width: 360px;
  padding-left: 1.4em;
  padding-right: 1.4em;
  cursor: default;
  background-color: #181818;
  color: white;
}

nav button {
  border: none;
  color: white;
}

#ingredientsList {
  max-height: 330px;
  max-width: 950px;
  overflow: auto;
}

#List {
  margin-bottom: 15px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

.cardRecipe {
  flex-basis: calc(33.33% - 30px);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.339);
  background-color: #181818;
}

.cardRecipe h2 {
  font-size: 20px;
  margin-top: 0;
}

.cardRecipe p {
  margin-bottom: 5px;
}

.cardRecipe ul {
  margin: 5px 0 10px 0;
  padding-left: 20px;
  list-style-type: disc;
}

@media screen and (max-width: 600px) {
  /* Styles pour les écrans de moins de 600px de large */
  .cardRecipe {
    width: 100%;
  }
}
